body{
    margin:0;
    border:0;
    font-family: "BBH Bartle", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg{
    height: 100vh;
    background-color: lightblue;
    display: flex;
}

.left-section{
    background-color: rgb(1, 48, 136);
    height: 100vh;
    width:250px;
}

.right-section{
    background-color: rgb(240, 237, 237);
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: center;
}

.nav{
    width:100%;
    background-color: white;
    height:68px;
    box-shadow: 0px 1px 2px rgba( 0 , 0 , 0 , 0.25 );
    
}


.content{
    margin-top:10px;
    display: flex;
    flex:1;
    width:950px;
    flex-direction: column;
    
}


.greeting{
    background-color:rgb(3, 107, 197);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin:1px;
    color: white;
    letter-spacing: 2px;
    border-radius: 13px;
}

.options{
    margin:1px;
    margin-top:5px;
    border-radius: 13px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admission, .students, .teachers, .announcement{
    margin: 13px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 0px 2px rgba( 0 , 0 , 0 , 0.50 );
    display: flex;
    justify-content: space-between;
}

.admission p, .students p, .teachers p, .announcement p{
    margin:0;
    border: 0;
}

/* .admission div, .students div, .teachers div, .announcement div{
    margin: 10px;
    padding:5px;
} */

.admission img, .students img,.teachers img, .announcement img{
    margin:0;
    display:block;  
    width: 100%;
    height: 100%;
    object-fit: contain;padding: 0;
}



