body{
    margin:0;
    border:0;
    font-family: "BBH Bartle", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg{
    height: 100vh;
    
    display: flex;
}

.left-section{
    /* background-color:rgb(3, 56, 140); */
    background-color:rgb(12, 61, 139);
    border: 0;
    height: 100vh;
    width:250px;
    display: flex;
    flex-direction: column;
}


.school-logo{
    margin-top: 10px;
    margin-bottom: 8px;
    padding-left: 4px;
    height:68px;
    width:200px;
    
    
}

.school-logo img{
    display: block;
    width: 100%;
    display: block;
    height: 100%;
    object-fit:cover;
}

.sidebars{
    display: flex;
    flex-direction: column;
    flex:1;
}

.sidebars a{
    padding: 10px;
    display: flex;
    align-items: center;
    padding: 14px 16px 14px 40px; 
    color: white;
    text-decoration: none;
    font-weight: 540;
    letter-spacing: 1px;
}



.dashboard-sidebar{
  background-image: url('/assets/app.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}


.admissions-sidebar{
  background-image: url('/assets/contract.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.students-sidebar{
  background-image: url('/assets/graduation.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.teachers-sidebar{
  background-image: url('/assets/teach.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.announcements-sidebar{
  background-image: url('/assets/announcement.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}



.logout a{
    display: flex;
    align-items: center;
    gap : 12px;
    height: 60px;
    color : white;
    text-decoration: none;
    font-weight: bold;
}

.logout img{
    padding-left:12px;
    width: 30px;
    height: 30px;
}



.right-section{
    background-color: rgb(240, 237, 237);
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: center;
}

.nav{
    width:100%;
    background-color: white;
    height:68px;
    display: flex;
    box-shadow: 0px 1px 2px rgba( 0 , 0 , 0 , 0.25 );
    display: flex;
    align-items: center;
    justify-content: end;
}


.announcement-left, .admission-left, .students-left, .teachers-left{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.announcement-right, .admission-right, .students-right, .teachers-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}

.admission-count, .teachers-count, .announcement-count, .students-count{
    font-weight: bolder;
    font-size:x-large;
}

.admission-img,.announcement-img, .teachers-img, .students-img{
    width: 30px;
    height: 30px;
    margin: 0;
}

.nav-userImg{
    height:100%;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    margin-left: 10px;
}


.content{
    margin-top:10px;
    display: flex;
    flex:1;
    width:950px;
    flex-direction: column;
    
}


.greeting{
    background-color:rgb(3, 107, 197);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin:1px;
    color: white;
    letter-spacing: 2px;
    border-radius: 13px;
}

.options{
    margin:1px;
    margin-top:5px;
    border-radius: 13px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admission, .students, .teachers, .announcement{
    margin: 13px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 0px 2px rgba( 0 , 0 , 0 , 0.50 );
    display: flex;
    justify-content: space-between;
}

.admission p, .students p, .teachers p, .announcement p{
    margin:0;
    border: 0;
}



.admission img, .students img,.teachers img, .announcement img{
    margin:0;
    display:block;  
    width: 100%;
    height: 100%;
    object-fit: contain;padding: 0;
}



