body{    
    margin: 0;
    width:100%;    
    height:100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    
    align-items: center;
}


.bg-img{
    
    object-fit: cover;
    display: block;
    width:100%;
    height:100%;

    filter: blur(6px);
}


.login-form{
    padding: 19px;
    border-radius: 8px;
    position:fixed;
    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    padding-top: 5px;
    background-color: white;
    font-size: larger;
    box-shadow: 0px 2px 4px rgba( 0 , 0 , 0 , 3.20 );
    
}

.login-details{
    border: solid #ccc ;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 13px;
    height:auto;
    /* width:250px; */
    display:flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba( 0 , 0 , 0 , 0.45 );
    
}



.login-details div{
    display:flex;
    align-items: center;
    justify-content: center;
}

.inputs{
    
    flex:2;display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-user{
    background-image: url('/assets/user.png');
    background-repeat: no-repeat;
    background-position:10px center;
    background-size: 20px;
}


.login-password{
    background-image: url('/assets/rotation-lock.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size : 22px;
}

.inputs input{
    border:1px solid #ccc;
    margin:7px;
    width:220px;
    /* padding: 10px 10px 10px 30px; */
    padding-left: 40px;
    border-radius: 8px;
    padding-top:13px;
    padding-bottom:13px;
}

.login-details button{
    color: white;
    cursor: pointer;
    border:radius;
    margin:7px;
    width:265px;
    padding:10px;
    border:none;
    border-radius: 6px ;
    background-color: rgb(8, 106, 168);
}





.login-footer{
    font-size: smaller;   
    margin-top: 15px;
    height: 30px;
    width: 270px;
    display:flex;
    justify-content: space-between;
}

a{
    cursor: pointer;
}