body{
    margin:0;
    border:0;
    font-family: "BBH Bartle", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg{
    height: 100vh;
    
    display: flex;
}

.left-section{
    /* background-color:rgb(3, 56, 140); */
    background-color:rgb(12, 61, 139);
    border: 0;
    height: 100vh;
    width:250px;
    display: flex;
    flex-direction: column;
}


.school-logo{
    margin-top: 10px;
    margin-bottom: 8px;
    padding-left: 4px;
    height:68px;
    width:200px;
    
    
}

.school-logo img{
    display: block;
    width: 100%;
    display: block;
    height: 100%;
    object-fit:cover;
}

.sidebars{
    display: flex;
    flex-direction: column;
    flex:1;
}

.sidebars a{
    padding: 10px;
    display: flex;
    align-items: center;
    padding: 14px 16px 14px 40px; 
    color: white;
    text-decoration: none;
    font-weight: 540;
    letter-spacing: 1px;
}



.dashboard-sidebar{
  background-image: url('/assets/app.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}


.admissions-sidebar{
  background-image: url('/assets/contract.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.students-sidebar{
  background-image: url('/assets/graduation.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.teachers-sidebar{
  background-image: url('/assets/teach.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.announcements-sidebar{
  background-image: url('/assets/announcement.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}



.logout a{
    display: flex;
    align-items: center;
    gap : 12px;
    height: 60px;
    color : white;
    text-decoration: none;
    font-weight: bold;
}

.logout img{
    padding-left:12px;
    width: 30px;
    height: 30px;
}



.right-section{
    background-color: rgb(240, 237, 237);
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: center;
}

.nav{
    width:100%;
    background-color: white;
    height:68px;
    display: flex;
    box-shadow: 0px 1px 2px rgba( 0 , 0 , 0 , 0.25 );
    display: flex;
    align-items: center;
    justify-content: end;
}







.nav-userImg{
    height:100%;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    margin-left: 10px;
}

.student{
    margin: 30px;
    height: auto;
    border-radius: 5px;
    background-color: rgb(255, 252, 252);
    display: flex;
    justify-content: center;
}


.new-student{
    border: 0;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgb(5, 78, 194);
}

.student-full{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 900px;
    display: flex;
    flex-direction: column;
    
}

.student-top{
    margin-left: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.student-middle{
    display: flex;
    justify-content: end;
    margin-bottom: 12px;

    
    height: 40px;
}


.student-bottom{
    flex: 1;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
}

.student-search{
    border: 2px solid #ccc;
    border-radius: 6px;
    padding-left: 8px;
    height: 35px;
    margin-bottom: 8px;
}



.student-bottom table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.student-bottom table thead{
    background-color: #f0f0f0;;
}

.student-bottom th{
    text-align: left;
    padding: 12px;
    font-size: 14px;
}

.student-bottom tbody tr:hover{
    background-color: #eaf2ff;
}

.student-bottom td{
    padding: 12px;
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
}

.student-bottom a{
    text-decoration: none;
}

.student-bottom a:hover{
    text-decoration: underline;
}



.student-bottom tbody tr:nth-child(odd){
    background-color: #ffffff;
}

.student-bottom tbody tr:nth-child(even){
    background-color: #f3f6f9;
}
